*{
  margin: 0;
  padding: 0;
}

body{
  background-color: hsl(30, 54%, 90%);

  min-height: 100vh;
  max-width: 100vw;

  display: grid;
  place-items: center;

  font-size: 1rem;
}
main{
  background-color: hsl(0, 0%, 100%);
  display: inline-block;
  padding: 2rem;
  border-radius: 1.4rem;
  min-width: 20rem;
  width: 40rem;
}

.recipeImgContainer{
  display: block;
  text-align: center;
  margin-bottom: 2rem;
}
.omeletteImg{
  min-width: 20rem;
  width: 40rem;
  border-radius: 0.75rem;
}

.recipeHeading{
  font-family: "Young Serif", Serif;
  font-weight: 400;
  font-size: 2.5rem;

  margin: 1rem 0;
}

.recipeDescription{
  font-family: Outfit, Arial;
  color: hsl(30, 10%, 34%);

  margin-bottom: 1.5rem;
}

.recipePrepTimeContainer{
  background-color: hsl(330, 100%, 98%);
  padding: 1.3rem;
  font-family: Outfit, Arial;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}
.prepTimeHeading{
  color: hsl(332, 51%, 32%);
  margin-bottom: 0.5rem;
}
.prepTimeList{
  list-style-position: inside;
  line-height: 2rem;
}
.prepTimeList li::marker{
  color: hsl(332, 51%, 32%);
}

.recipeSubheading{
  font-family: "Young Serif", Serif;
  font-weight: 400;
  font-size: 1.65rem;
  color: hsl(14, 45%, 36%);

  margin: 1.5rem 0 0.8rem 0;
}

.ingredientList{
  font-family: Outfit, Arial;
  padding-left: 1.5rem;
  line-height: 2rem;
  color: hsl(30, 10%, 34%);
  margin-top: 1rem;
}
.ingredientList li::marker{
  color:hsl(14, 45%, 36%);
}
.ingredient{
  padding-left: 1rem;
}

hr.solid{
  border: 1px solid hsl(30, 18%, 87%);
  margin-top: 2.2rem;
}

.instructionOL{
  font-family: Outfit, Arial;
  padding-left: 1.3rem;
  color: hsl(30, 10%, 34%);
  margin-top: 1.2rem;
}
.instruction{
  margin: 0.8rem 0;
  padding-left: 1rem;
}
.instructionOL li::marker{
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}